{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../favicon.ico">
    <link rel="stylesheet" href="{% static 'dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ie10-viewport-bug-workaround.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/ie-emulation-modes-warning.js' %}">
    <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>


<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'index' %}">На хату</a></li>
                            <li><a href="{% url 'books' %}">Вся хрень</a></li>
                            <li><a href="">Вся хрень</a></li>
                            <li><a href="">Все авторы</a></li>
                            {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false">{{ user.get_username }} <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Профиль</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="{% url 'logout' %}?next={{ request.path }}">Выход</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{% url 'login' %}?next={{ request.path }}">Вход</a></li>
                            {% endif %}
                            {% if next %}
                                {% if user.is_authenticated %}
                                    <p>Your account doesn't have access to this page. To proceed,
                                        please login with an account that has access.</p>
                                {% else %}
                                    <p>Please login to see this page.</p>
                                {% endif %}
                            {% endif %}


                        </ul>
                    </div>
                </div>
            </div>
        </nav>

    </div>
</div>

{% block carusel %} {% endblock %}
{% block heading %} {% endblock %}



{% block content %} {% endblock %}
{% block pagination %}{% endblock %}
{% block login %} {% endblock %}
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../static/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="../static/assets/js/vendor/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../static/assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>