{% extends "base_generic.html" %}

{% block content %}
<h1>Здесь какая-то хрень</h1>

  <p>Добро пожаловать <em>на хрень</em>, Вы зашли на какую-то хрень</p>

<h2>Смотрите на всю эту хрень</h2>

  <p>Моя любимая хрень</p>
  <ul>
    <li><strong>книги:</strong> {{ num_books }}</li>
    <li><strong>копии:</strong> {{ num_instances }}</li>
    <li><strong>доступная хрень:</strong> {{ num_instances_available }}</li>
    <li><strong>авторы:</strong> {{ num_authors }}</li>
  </ul>
    <p>Вы дохрена посейщали эту хрень {{ num_visits }}{% if num_visits == 1 %} раз{% else %} раз{% endif %}.</p>

{% endblock %}


